/* You can add global styles to this file, and also import other style files */

@import '@angular/material/prebuilt-themes/purple-green.css';

/* body{
    background-color: #0b0c10;
    color: #d1e8e2;
} */

html, body { height: 100%; background-color: #212529; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; color:#eee;}
